<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="app.css" type="text/css" media="Screen">
<title>My App- Edit</title>
</head>
<body>
	<div class="topnav">
		<div class="centernav">Add People</div>
    </div><form id="form5" action="/" method="post">	
		
		<p>					
			<label><span class="form_name">Their first name...</span></label>
			<br>				
			<input type="text" name="fname" id="fname" size="30" />					
		</p>
		<p>					
			<label class="form_name">Their last name is...</label>		
			<br>
			<input type="text" name="lname" id="lname" size="30" />					
		</p>
		<p>					
			<label class="form_name">Their email is...</label>				
			<br>
			<input type="text" name="email" id="email" size="30" />				
		</p>
		<p>
			<label class="form_name">They work for...</label>				
			<br>
			<input type="text" name="company" id="company" size="30" />										
		</p>			
		<p>
			<label class="form_name">What's their title?</label>				
			<br>
			<input type="title" name="title" id="web" size="30" />										
		</p>
		<p>
		<label class="form_name">I'll group this person with				
		<select>
		<option>friends</option>
		<option>leads</option>
		<option>work</option>
		<option>call-backs</option>
		</select>
		.</label>
		</p>
		<p ><button class="submit">Add This Person!</button></p>		
</form>
</body>
</html>